/* * {
  font-family: 'VT323', monospace;
} */
span {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: fixed;
   bottom: 0;
}

#deatailsButton {
  margin-top: 20px;
}
#printImg {
  max-height: 80px;
}
#designedBy {
  color: rgb(2, 71, 23);
  font-size: large;
}
#homepageImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}
#submitButton, #reviewButton {
  margin-top: 10px;
}
#updateButton {
  margin: 5px;
}
#survy:hover {
  color: rgb(250, 0, 0);
}
#survy {
  font-size: 35px;
}
.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.review-user-container {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 10px;
}

.review-user-container img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}
.review-container {
  max-width: auto; 
  margin-right: 80px; 
  margin-left: 80px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; 
  overflow: hidden;
}

