<%- include('../partials/header') %>

<form id="new-form" action="/prints" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Start Date</label>
  <input type="datetime-local" name="startDate">
  <label>End Date</label>
  <input type="datetime-local" name="endDate">
  <label>Comments</label>
  <input type="text" name="comments">
  <input type="submit" value="Add Print">
</form>

<%- include('../partials/footer') %>
